body {
    background-color: #FFF0D1;
    background-color: #795757;
    background-color: #664343;
    background-color: #3B3030;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF0D1;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #f7dfb0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    flex-basis: 30%;
    margin-left: 15px;
}

.nab-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #1e4700;

}

.pic{
    width: 50px;
}

.nab-bar div a{
    text-decoration: none;
    color: #492f00;
    font-size: 16px;
}

.nab-bar div a:hover{
    color: #ff0000;
}

/* -----------first-section---------- */

.first-sec {
    width: 80%;
    height: 500px;
    background-color: #f7f7f7;
    border: 1px solid #cbcbcb;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin-top: 18px;
}

.left-text {
    flex-basis: 30%;
    width: 150px;
    height: 300px;
}

.f-heading {
    color: #492f00;
}

a {
    font-size: 20px;
    color: #492f00;
    text-decoration: none;
}

li{
    list-style-type: none;
}

.f-para {
    margin-top: 15px;
}

.hed-des {
    margin-bottom: 50px;
}
 
.circle {
    width: 300px;
    height: 50px;
    border: 1px solid #492f00;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.btns {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b-1 {
    width: 120px;
    height: 35px;
    background-color: #492f00;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.b-2 {
    width: 160px;
    height: 35px;
    background-color: #492f00;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.b-1 a{
    color: white;
    text-decoration: none;
}

.b-2 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.photo-grallery {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    gap: 8px;
    grid-auto-rows: 120px;
}

.photo-box {
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 22px;
}

#box-1 {
    border-top-left-radius: 10px;
}

#box-2{
    border-top-right-radius: 10px;
}

#box-5 {
    border-bottom-left-radius: 10px;
}

#box-6{
    border-bottom-right-radius: 10px;
}

.col-2 {
    grid-column: span 2;
}

.row-2 {
    grid-row: span 2;
}

.devid {
    width: 100%;
    height: 2px;
    background-color: #492f00;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* -----------------Secound-Section------------- */


.scnd-sec {
    width: 100%;
    height: 500px;
    background-color: #fffbf2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    border-top: 1px solid #492f00;
    border-bottom: 1px solid #492f00;
}

.Container-2 {
    width: 80%;
    height: 400px;
    background-color: #f7f7f7;
    border: 1px solid #cbcbcb;
    margin: auto;
    border-radius: 10px;
}


.Cour-Heading {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 15px;
}

.haading {
    font-size: 20px;
    color: #3B3030;
}

.btn {
    width: 120px;
    height: 25px;
    background-color: #492f00;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

.btn p a{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.Course-list-1 {
    width: 90%;
    height: 70%;
    background-color: aliceblue;
    border: 1px solid #dadada;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.course {
    width: 22%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
}

.top-sec{
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #a8a8a8;
}

.pic-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rating {
    width: 60px;
    margin-left: 7px;
}

.rat {
    font-size: 10px;
    color: #3B3030;
}

.Cour-head {
    color: #3B3030;
    margin-left: 10px;
    margin-top: 5px;
}

.user {
    width: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.pip {
    font-size: 10px;
    color: #3B3030;
}


/* ---------------third-section----------- */

.thrd-sec{
    width: 80%;
    height: 500px;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: auto;
    margin-top: 46px;
}































.for-space {
    width: 100%;
    height: 500px;
}